@font-face {
    font-family: RapierZero-325M;
    src: url('../fonts/RapierZero-325M.ttf') format("opentype");
}

body {
    background-color: black;
    background-image: url(../images/background.svg);
    height: 100vh;
}
h2{
    font-size: 1rem;
    font-family: 'Ubuntu Condensed', sans-serif;
    padding: 1%;
    color: #ffffff;
    text-align: center;
}
.hide {
	display: none;
}
.gamescreen{
    color: #ffffff;
     font-family: 'Ubuntu Condensed', sans-serif;
}

.neon {
    color: #fff;
    text-shadow:
        0 0 5px #800080,
        0 0 10px #800080,
        0 0 20px #800080,
        0 0 70px #800080,
        0 0 8px #800080,
        0 0 9px #800080,
        0 0 10px #800080,
        0 0 150px #800080;
    margin-bottom: 70px;
    position: relative;
    margin: 0;
    text-align: center;
    transform: translateY(-20px);
    font-family: RapierZero-325M;
}

/* general styling */
:root {
    font-size: calc(1vw + 1vh + 1.5vmin);
}

html,
body {
    height: 100%;
    margin: 0;
}

.container {
    margin: 0 auto;
}

body {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1rem;
}

.background {
    background: url("https://s15.postimg.org/h9f6i4bd7/Rose.jpg");
    border: 2px solid black;
    background-size: cover;
}

/* transparent box background */
.card {
    width: 90%;
    box-sizing: 0px 0px 1px #ccc;
    position: relative;
    margin: 0px auto;
    opacity: 1;
    background-color: black;
}

.box {
    width: 100%;
    height: 700px;
    padding: 20px;
    /* opacity: 0.8; */
    border-radius: 10px;
    right: 100%;
}

.btn-primary {
    margin-left: 11px;
    margin-top: 30px;
    right: 490px;
    background-color: #800080;
    border-color: #ffffff;
    position: absolute;
    top: 85%;
    width: 49%;
    box-shadow:
        0 0 0px #800080,
        0 0 10px #800080,
        0 0 20px #800080,
        0 0 70px #800080,
        0 0 8px #800080,
        0 0 9px #800080,
        0 0 10px #800080,
        0 0 100px #800080;
        font-family: RapierZero-325M;
    
    
}
.btn-primary:hover{
    opacity: 0.7;
    background-color: #800080;
    color: #ffffff;
    border-color:black;
    
}

.dropdown-item {
    font-size: 0.7rem;
    width: 100%;
}
.custom-select {
    height: 50px;
}

/* mobile devices */
@media (max-width: 414px) {
    .neon {
        color: #fff;
        text-shadow:
            0 0 5px #800080,
            0 0 10px #800080,
            0 0 20px #800080,
            0 0 70px #800080,
            0 0 8px #800080,
            0 0 9px #800080,
            0 0 10px #800080,
            0 0 150px #800080;
        margin-bottom: 70px;
        position: relative;
        margin: 0;
        transform: translateY(-130px);

        font-family: RapierZero-325M;
        text-align: center;
    }

    .card {
        width: 80%;
        box-sizing: 0px 0px 1px #ccc;
        position: relative;
        margin: 0px auto;
        opacity: 1;
        background-color: black;
        color: #ffffff;

    }

    .box {
        width: 100%;
        height: 50vh;
        opacity: 0.8;

    }
    .difficulty>a{
    width: 100%;
    }
    .category>a {
    width: 100%;
    }
    .num-questions>a {
    width: 100%;
}
    .btn-primary{
    left: 17%;
    top: 68%;
    width: 60%;
    }
}

/* ipad  */
@media (min-width: 768px) and (max-width: 1023px) {
    .neon {
        color: #fff;
        text-shadow:
            0 0 5px #800080,
            0 0 10px #800080,
            0 0 20px #800080,
            0 0 70px #800080,
            0 0 8px #800080,
            0 0 9px #800080,
            0 0 10px #800080,
            0 0 150px #800080;
        margin-bottom: 70px;
        position: relative;
        margin: 0;
        transform: translateY(-130px);
        font-family: RapierZero-325M;
        text-align: center;
    }

    .card {
        width: 80%;
        box-sizing: 0px 0px 1px #ccc;
        position: relative;
        margin: 0px auto;
        opacity: 1;
        background-color: black;
        color: #ffffff;
    }

    .box {

        height: 50vh;

        opacity: 0.8;
        border-radius: 10px;
        
    }

    .category {
        margin-bottom: 10px;
    }
    .num-questions {
    width: 100%;
}

    .btn-primary {
    position: absolute;
    align-items: center;
    left: 17%;
    top: 75%;
    font-size: 0.7rem;
    width: 62%;

    }
}
 /* ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px */

@media (min-width: 1026px) and (max-width: 1280px) {
 
 .neon {
        color: #fff;
        text-shadow:
            0 0 5px #800080,
            0 0 10px #800080,
            0 0 20px #800080,
            0 0 70px #800080,
            0 0 8px #800080,
            0 0 9px #800080,
            0 0 10px #800080,
            0 0 150px #800080;
        margin-bottom: 70px;
        position: relative;
        left: 50%;
        transform: translateY(-60px);
        font-family: RapierZero-325M;
        text-align: center;
    }
    .btn-primary {
    position: absolute;
    align-items: center;
    left: 13%;
    top: 75%;
    font-size: 0.7rem;
    width: 72%;

    }
}